<p>Selecciona una de las siguientes opciones para realizar tú dimensionamiento</p>


<table style="width:100%" align="left">
  <tr>
    <th bgcolor="#00008B" style="color: white;">Dimensionamiento para...</th>
    <th bgcolor="#00008B" style="color: white;">Sabor</th>
  </tr>
  <tr>
    <td>Cloud Paks</td>
    <td><form action="/cp4d" method="get">
      <!--label for="name"><input type="text" id="name" name="name"-->
      <button type="submit">Cloud Pak for Data</button>
    </form>
    </td>
  </tr>
  <tr>
    <td>  </td>
    <td><form action="/pxbackup" method="get">
      <!--label for="name"><input type="text" id="name" name="name"-->
      <button type="submit">Respaldos IKS/Openshift con PX-Backup</button>
    </form>
    </td>
  </tr>
  <tr>
    <td>  </td>
    <td><form action="/loganalysis" method="get">
      <!--label for="name"><input type="text" id="name" name="name"-->
      <button type="submit">Monitoreo Logs (Log Analysis/Activity Tracker)</button>
    </form>
    </td>
  </tr>
  <tr>
    <td>  </td>
    <td><form action="/monitoring" method="get">
      <!--label for="name"><input type="text" id="name" name="name"-->
      <button type="submit">Monitoreo Salud (Monitoring)</button>
    </form>
    </td>
  </tr>

  <tr>
    <td>Orquestadores</td>
    <td><form action="/iks" method="get">
      <button type="submit">Kubernetes Service (IKS)</button>
    </form>
    </td>
  </tr>
  <tr>
    <td>  </td>
    <td>
    <form action="/ocp" method="get">
      <button type="submit">Openshift Kubernetes Service (ROKS)</button>
    </form>

    </td>
  </tr>
  <tr>
    <td>  </td>
    <td>
    <form action="/cr" method="get">
      <button type="submit">Container Registry</button>
    </form>

    </td>
  </tr>
</table>
